@import "../omarchy/current/theme/waybar.css";

#waybar {
  border: none;
  /* border-radius: 10px; */
  margin: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  background-color: @background;
  color: @foreground;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

* {
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

tooltip {
  opacity: 1;
  padding: 0px;
  margin: 0px;
  background: #27272a;
  border: 1px solid alpha(#e6d8ba, 0.8);
  border-radius: 8px;
  font-size: 12px;
}

tooltip label {
  color: #e6d8ba;
  font-weight: normal;
}

#custom-omarchy,
#workspaces,
#mpris,
#clock,
#custom-update,
#custom-screenrecording-indicator,
#custom-expand-icon,
#power-profiles-daemon,
#bluetooth,
#tray,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#custom-timer {
  font-size: 13px;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #27272a;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  padding: 0 3px;
  margin: 0 2px;
  background-color: transparent;
  color: #e6d8ba;
  border-radius: 5px;
}

#workspaces button.active {
  background-color: #ff9b71;
  color: #000;
}

#workspaces button.empty {
  opacity: 0.45;
}

#workspaces button.empty.active {
  background-color: #e6d8ba;
  color: #000;
}

#battery.charging,
#battery.plugged {
  color: #e6d8ba;
  background-color: #27272a;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #e6d8ba;
}

#power-profiles-daemon.performance,
#bluetooth.disabled,
#pulseaudio.muted {
  background-color: #ff9b71;
  color: #000;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
}

#custom-screenrecording-indicator {
  padding: 0 7px;
}

#mpris {
  padding: 1px 6px;
  margin-left: 18px;
}

#custom-timer {
  background-color: #27272a;
  color: #e6d8ba;
  transition: all 0.2s ease;
}

#custom-timer.disabled {
  background-color: transparent;
  color: #e6d8ba;
  opacity: 0.6;
}

#custom-timer.idle {
  background-color: transparent;
  color: #e6d8ba;
}

#custom-timer.select {
  background-color: #27272a;
  color: #ff9b71;
}

#custom-timer.running {
  background-color: transparent;
  color: #e6d8ba;
}

#custom-timer.pomo_break {
  background-color: transparent;
  color: #94d487;
}

#custom-timer.pomo_msg {
  background-color: transparent;
  color: #ff9b71;
}

#custom-timer.paused {
  background-color: #27272a;
  color: #e6d8ba;
  opacity: 0.6;
}

#custom-timer.warning {
  background-color: transparent;
  animation-name: red-alert;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-timer.done {
  background-color: #e6d8ba;
  color: #000;
}

#custom-timer.reset {
  color: #f53c3c;
  background-color: transparent;
}

@keyframes red-alert {
  0% {
    color: #f53c3c;
    opacity: 1;
  }
  100% {
    color: #f53c3c;
    opacity: 0.4;
    text-shadow: none;
  }
}
