@import "../omarchy/current/theme/waybar.css";

#waybar {
  border: none;
  /* border-radius: 10px; */
  margin: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  background-color: @background;
  color: @foreground;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

* {
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

tooltip {
  opacity: 1;
}

#custom-omarchy,
#workspaces,
#mpris,
#clock,
#custom-update,
#custom-screenrecording-indicator,
#custom-expand-icon,
#power-profiles-daemon,
#bluetooth,
#tray,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#custom-tomat {
  font-size: 13px;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #27272a;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  padding: 0 3px;
  margin: 0 2px;
  background-color: transparent;
  color: #e6d8ba;
  border-radius: 5px;
}

#workspaces button.active {
  background-color: #ff9b71;
  color: #000;
}

#workspaces button.empty {
  opacity: 0.45;
}

#workspaces button.empty.active {
  background-color: #e6d8ba;
  color: #000;
}

#battery.charging,
#battery.plugged {
  color: #e6d8ba;
  background-color: #27272a;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #e6d8ba;
}

#power-profiles-daemon.performance,
#bluetooth.disabled,
#pulseaudio.muted {
  background-color: #ff9b71;
  color: #000;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
}

#custom-screenrecording-indicator {
  padding: 0 7px;
}

#mpris {
  padding: 1px 6px;
  margin-left: 18px;
}

#custom-tomat {
  color: #e6d8ba;
}

#custom-tomat.work,
#custom-tomat.work-paused {
  color: #ff9b71;
}

#custom-tomat.break,
#custom-tomat.break-paused,
#custom-tomat.long-break,
#custom-tomat.long-break-paused {
  color: #94d487;
}

#custom-tomat.work-paused,
#custom-tomat.break-paused,
#custom-tomat.long-break-paused {
  opacity: 0.6;
}
